<ion-header>
  <ion-toolbar>
    <ion-title>generate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab horizontal="start" vertical="center" slot="fixed">
    <ion-fab-button color="light" (click)="rev()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="end" vertical="center" slot="fixed">
    <ion-fab-button color="light" (click)="fwd()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!--  -->
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div>
          <ion-slides pager="false" [options]="slideOpts">
            <ion-slide id="foo">
              <ion-card style="width: 330px">
                <ion-card-header> </ion-card-header>

                <ion-card-content>
                  <div [innerHtml]="content"></div>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
        <div class="container mt-5">
          <div class="row">
            <div class="col">
              <ion-button expand="block" (click)="confirm()"
                >Confirm</ion-button
              >
            </div>
            <div class="col">
              <ion-button expand="block" (click)="gen()">Generate</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
