<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-icon name="arrow-back-outline" auto-hide="false"></ion-icon>
    </ion-buttons>

    <ion-title>Request Details</ion-title>
  </ion-toolbar>
</ion-header>
<br />

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Patient's name</ion-card-subtitle>
      <ion-card-title>{{doctor}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Venue</ion-card-subtitle>
      <ion-card-title>{{location}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Date (yyyy-mm-dd)</ion-card-subtitle>
      <ion-card-title>{{date}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Status</ion-card-subtitle>
      <ion-card-title
        ><ion-chip color="{{color}}" (click)="presentAlertConfirm(status)">
          <ion-label>{{status}}</ion-label>
        </ion-chip></ion-card-title
      >
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Concern</ion-card-subtitle>
      <ion-card-title>
        <ion-chip color="primary">
          <ion-label>{{concern}}</ion-label>
        </ion-chip></ion-card-title
      >
    </ion-card-header>
    <ion-card-header (click)="presentAlertPrompt()">
      <ion-card-subtitle>Doctor's Note</ion-card-subtitle>
      <ion-card-content>
        <ion-textarea color="tertiary">{{doctorNote}}</ion-textarea>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
