<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <div class="center">
      <ion-card class="ion-activatable ripple-parent">
        <ion-card-header>
          <ion-card-title>{{username}}</ion-card-title>
          <ion-card-subtitle>{{address}}</ion-card-subtitle>
        </ion-card-header>

        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    id="refresher"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="logout()" color="danger">
      <ion-icon name="power-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-content style="top: 10%" [fullscreen]="true"> -->
    <!-- <ion-row style="border: solid 1px">
      <ion-col>
      <ion-label >header</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row style="border: solid 1px">
      <ion-col >
      <ion-label >row</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row style="border: solid 1px">
      <ion-col>
      <ion-label >row</ion-label>
      </ion-col>
    </ion-row> -->

    <!-- <ion-card>
      <table style="width: 100%; text-align: center">
        <thead style="border-bottom: solid 1px">
          <tr>
            <h3>To Pay</h3>
          </tr>
        </thead>
        <tr style="border-bottom: solid 1px">
          <th>Name</th>
          <th>Price</th>
          <th>Address</th>
          <th>Status</th>
        </tr>

        <tbody
          class="clickable-row"
          *ngFor="let order of orders"
          style="border-bottom: solid 1px"
        >
          <tr *ngIf="order.order_status == 'toPay'" (click)="navHistory(order)">
            <td>{{ status }}</td>
            <td>{{ order.order_totalprice }}</td>
            <td>{{ order.order_address }}</td>
            <td>{{ order.order_status }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card>

    <ion-card>
      <table style="width: 100%; text-align: center">
        <thead style="border-bottom: solid 1px">
          <tr>
            <h3>To Delivered/PickUp</h3>
          </tr>
        </thead>
        <tr style="border-bottom: solid 1px">
          <th>Name</th>
          <th>Price</th>
          <th>Address</th>
          <th>Status</th>
        </tr>

        <tbody
          class="clickable-row"
          *ngFor="let order of orders"
          style="border-bottom: solid 1px"
        >
          <tr
            (click)="navHistory(order)"
            *ngIf="order.order_status == 'toDelivered'"
          >
            <td>{{ order.order_flower }}</td>
            <td>{{ order.order_totalprice }}</td>
            <td>{{ order.order_address }}</td>
            <td>{{ order.order_status }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card>

    <ion-card>
      <table style="width: 100%; text-align: center">
        <thead style="border-bottom: solid 1px">
          <tr>
            <h3>Completed</h3>
          </tr>
        </thead>
        <tr style="border-bottom: solid 1px">
          <th>Name</th>
          <th>Price</th>
          <th>Address</th>
          <th>Status</th>
        </tr>

        <tbody
          class="clickable-row"
          *ngFor="let order of orders"
          style="border-bottom: solid 1px"
        >
          <tr
            *ngIf="order.order_status == 'completed'"
            (click)="navHistory(order)"
          >
            <td>{{ order.order_flower }}</td>
            <td>{{ order.order_totalprice }}</td>
            <td>{{ order.order_address }}</td>
            <td>{{ order.order_status }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card> -->

    <!-- <ion-row>
      <ion-col >
        <ion-item>
          <h3>CART</h3>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let order of orders">
      <ion-col>
        <ion-item>

          <ion-card-header>
            <img src=".\assets\icon\addImage.png" style="width: 100px;float: left;">
            <ion-card-title>{{order.order_flower}}</ion-card-title>
            <ion-card-subtitle>{{order.order_totalprice}}</ion-card-subtitle>
            <ion-card-subtitle>{{order.order_address}}</ion-card-subtitle>
            <ion-card-subtitle>{{order.order_status}}</ion-card-subtitle>
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row> -->

<div style="display: flex; justify-content: center ; margin-top: 5%;margin-bottom: 5%;">
  <ion-fab style="left: 50px;">
    <ion-fab-button (click)="toPay()" color="dark">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>To Pay
  </ion-fab>

  <ion-fab>
    <ion-fab-button (click)="service()" color="dark">
      <ion-icon name="rose-outline"></ion-icon>
    </ion-fab-button>Service
  </ion-fab>

  <ion-fab style="right: 30px;text-align: center;">
    <ion-fab-button (click)="completed()" color="dark">
      <ion-icon name="bag-check-outline"></ion-icon>
    </ion-fab-button>Completed
  </ion-fab>
</div>

  <div style="margin-top:28%;max-height: 75%;overflow-y: scroll;">
    <ion-item>
    <ion-list-header>
        <h3>CART</h3>
      </ion-list-header>
    </ion-item>

    <div *ngFor="let order of orders; index as i">
      <ion-list *ngIf="order.order_status == 'bookmark'">
        <ion-item  (click)="confirmcart(i, order)" class="ion-activatable ripple-parent">
          
          <ion-avatar slot="start">
            <img src=".\assets\icon\Bloom.png">
          </ion-avatar>
          <ion-label>
            <h2 *ngIf="order.order_flower=='Generated Bouquet'; else flowername">{{order.order_flower}} {{i+1}}</h2>
            <ng-template #flowername>{{order.order_flower}}</ng-template>
            <h3>₱ {{order.order_totalprice}}</h3>
            <p>{{order.main_flower}}  {{order.secondary_flower}} {{order.tertiary_flower}}</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
