<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <div class="center">
      <ion-card class="ion-activatable ripple-parent">
        <ion-card-header>
          <ion-card-title>{{username}}</ion-card-title>
          <ion-card-subtitle>{{address}}</ion-card-subtitle>
        </ion-card-header>

        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    id="refresher"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="logout()" color="danger">
      <ion-icon name="power-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-content style="top: 20%" [fullscreen]="true"> </ion-content>
</ion-content>
