.ripple-parent {
  position: relative;
  overflow: hidden;
}
.center {
  // margin: auto;
  // border: 3px solid green;
  // padding: 10px;
  font-family: "Inter";
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  //   width: 400px;
  /* Whatever width you want */
}

ion-icon {
  --ion-margin-left: auto;
  --ion-margin-right: auto;
  text-align: center;
}

ion-card {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  ion-card-subtitle {
    font-family: "Inter Semi-bold";
  }
  ion-card-title {
    font-family: "Inter Semi-bold";
  }
  ion-card-content {
    font-family: "Inter";
  }
}
