<div class="center">
  <ion-card class="ion-activatable ripple-parent" (click)="about()">
    <div class="right">
      <ion-icon style="font-size: 30px" name="help-circle"></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{greet}},</ion-card-subtitle>
      <ion-card-title>{{username}}</ion-card-title>
      <small>{{address}}</small>
    </ion-card-header>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>

<ion-content>
  <h1 class="display-4">Best of {{this.month}}</h1>
</ion-content>
