.wrapper {
    font-family: "Inter Semi-bold";
  }
  
  img {
    width: 50%;
  }
  .top {
    display: flex;
    justify-content: center;
    padding: 5%;
  }
  
  form {
    font-family: "Inter Semi-bold";
  }
  