<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
    <ion-router-link
      (click)="back()"
      slot="end"
      class="underline"
      style="margin: 10px"
      >Back</ion-router-link
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let order of orders; index as i">
    <ion-list *ngIf="order.order_status == 'toPay'">
      <ion-item class="ion-activatable ripple-parent">
        <ion-avatar slot="start">
          <img src=".\assets\icon\Bloom.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{order.order_flower}}</h2>
          <h3>{{order.order_totalprice}}</h3>
          <ion-button (click)="getGallery()">Payment</ion-button>
          <ion-button color="danger" (click)="cancel(i,order)">Cancel Order</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
